apiVersion: argoproj.io/v1alpha1
kind: EventSource
metadata:
  name: issm-aux
spec:
  kafka:
    aux:
      url: $KAFKA_HOST:$KAFKA_PORT
      topic: $AUX_DOMAIN_TOPIC
      jsonBody: true
      partition: "0"
      connectionBackoff:
        duration: 10000000000
        steps: 5
        factor: 2
        jitter: 0.2
